<!DOCTYPE html>
<html lang="en">
<body>
<div class="container align-content-center pt-5">
    <div class="card bg-dark text-bg-dark border-0">
        <div class="card-header border-0">
                <h1 class="text-center">
                    {{title}}
                </h1>
        </div>
            {{#if message}}
                <div class="card-body">
                    <p class="text-center">{{message}}</p>
                    <div class="text-center">
                        <a href="/" class="btn btn-primary">Go to Home</a>
                    </div>
                </div>
            {{/if}}
    </div>
</div>
</body>
</html>