<!DOCTYPE html>
<html lang="en">
<body>
<h5 class="text-center pt-5 pb-3">Login</h5>
<div class="container">
    <div class="card m-auto w-50 border-0 bg-dark">

        <div class="form-signin w-100 m-auto">
            <form action="/auth/login" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input maxlength="255" type="text" class="form-control border-dark bg-light text-bg-dark bg-opacity-10" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control border-dark bg-light text-bg-dark bg-opacity-10" id="password" name="password">
                </div>
                <div id="captcha" class="mb-3 d-flex justify-content-center g-recaptcha" data-sitekey={{captcha_key}}></div>
                    {{#if error}}
                        <div class="mb-3 alert-dark alert alert-dismissible fade show" role="alert">
                            {{error}}
                            <button type="button" class="btn-close text-danger" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {{/if}}
                <div class="d-flex justify-content-center">
                    <button type="submit" data-bs-toggle="modal" data-bs-target="#loading" class="w-75 btn btn-primary">Login</button>
                    {{> loading }}
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>